.contact{
    display: flex;
}

.contact p{
    font-size: 20px;
    line-height: 26px;
    margin: 25px;
    text-align: center;
}

.getTouch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
}

.contactNetworks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.iconEmail{
    width: 50px;
    height: 40px;
    background-size: cover;
    background-image: url('../img/email.png');
}

.iconEmail:hover{
    width: 50px;
    height: 40px;
    background-size: cover;
    background-image: url('../img/emailColor.png');
}

.iconLinkedin{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url('../img/linkedin.png');
}

.iconLinkedin:hover{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url('../img/inColor.png');
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    background: #f1f1f1;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 450px;
    border-radius: 10px;
}

.contactForm h4{
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    margin: 0px auto 20px;
}

input, textarea{
    box-sizing: border-box;
    margin: 10px 30px;
    padding: 10px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    border-style: none;
    border-radius: 10px;
    background: white;
}

.btnSend{
    background-color: #cf404d;
    color:#fff
}
