nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2d3e4f ;
    width: 25%;
    height: 100vh;
    min-width: 25%;
}

.menuOption {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    display: block;
    text-decoration: unset;
}

.menuOption:hover {
    color: #cf404d;
}

.sectionHome{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 100vw;
    color: #fff;
}

.sectionHomeInformation{
    width: 400px;
    margin-left: 50px;
    margin-top: 100px;

}

.sectionHomeBtn {
    display: flex;
    justify-content: center;
}

.sectionHome:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 50;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.sectionHome h1{
    font-size: 60px;
}
.sectionHome h2{
    color: #fff;
}

.btnCV{
    border-color: #cf404d;
    background-color: #cf404d;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px;
    border-radius: 4px;
    text-decoration: none;
}

.sectionMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.sectionPhoto{
    display: flex;
    flex-direction: row;
}

.sectionMe h1{
    font-size: 60px;
    line-height: 26px;
    margin: 40px;
    color: #cf404d;
    text-align: center;
    padding: 10px;
} 

.myPhoto{
    margin:0px;
    width: 300px;
    height: 300px;
    align-items: center;
    /* box-shadow: 0px 1px 10px rgba(0,0,0,0.2); */
    cursor: default;
    transition: all 500ms ease;
}

.myPhoto:hover{
    /* box-shadow: 5px 5px 20px rgba(0,0,0,0.4); */
    transform: translateY(-4%);
}

.description{
    font-size: 20px;
    line-height: 26px;
    margin: 0px 30px;
    padding: 15px;
    cursor: default;
    transition: all 500ms ease;
} 
.description:hover{
    transform: translateY(-4%);
}

