.containerProjects{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.cardProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 500px;
    margin: 80px 30px;
}

.imgProject{
    width: 250px;
    height: 200px;
    margin: 0px;
}

.textCard{
    text-align: center;
    line-height: 22px;
    margin: opx;
}

.linkBox{
    width: 100%;
    /* overflow: hidden; */
    background: #cf404d;
}

.linkBox a{
    color: #FFFFFF;
    letter-spacing: 3px;
    cursor: pointer;
    display: block;
    text-align: center;
    float: left;
    width: 50%;
    text-decoration: none;
    background: transparent;
}

/* .customStyles{
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform : translate(-50%, -50%);
    background: darkred;
    width: 250px;
} */

